@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #1A1B2F;
    --foreground: #E5E7EB;
    --card: #101013;
    --card-foreground: #E5E7EB;
    --popover: #232946;
    --popover-foreground: #E5E7EB;
    --primary: #3B82F6;
    --primary-foreground: #E5E7EB;
    --secondary: #14F195;
    --secondary-foreground: #232946;
    --muted: #9CA3AF;
    --accent: #14F195;
    --accent-foreground: #101013;
    --destructive: #F43F5E;
    --destructive-foreground: #E5E7EB;
    --border: #232946;
    --input: #1A1B2F;
    --ring: #3B82F6;
    --radius: 0.5rem;
    --gold: #FBBF24;
    --victory: #22c55e33;
    --defeat: #ef444433;
    --bteam: #2563eb;
    --bteam-foreground: #2563eb33;
    --rteam: #dc2626;
    --rteam-foreground: #dc262633;
  }
  
  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 1000px #1A1B2F inset !important;
    box-shadow: 0 0 0 1000px #1A1B2F inset !important;
    -webkit-text-fill-color: #9CA3AF !important;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #1A1B2F !important;
  color: fieldtext !important;
}
  /* .dark {
    --background: 0 0% 3.9%;    
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;                
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%; 
    --primary: 0 0% 98%;            
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
